@font-face {
  font-family: 'Noto Thin';
  src: url('font/noto-thin.min.ttf');
}
body {
  margin: 0px;
  text-align: center;
  font-family: 'Noto Thin';
}
li {
  list-style: none;
}
ul {
  margin: 0px;
  padding: 0px;
}
header {
  height: 50px;
  background-color: #293c55;
  text-align: left;
}
header .logo {
  display: inline-block;
}
header .logo img {
  height: 22px;
  margin: 13px 30px;
  display: inline-block;
}
header .logo h1 {
  display: none;
}
header nav {
  float: right;
  margin-right: 50px;
  padding: 30px 0px;
}
header nav li {
  display: inline-block;
  height: 20px;
  padding: 0px 20px;
  border-right: 1px solid #728d98;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  text-decoration: underline;
}
main {
  width: 1000px;
  margin: 0px auto;
  text-align: left;
}
main h1 {
  text-align: center;
  color: #3c485c;
  font-weight: normal;
}
#map-download-link {
  text-align: center;
  font-size: 18px;
}
#map-download-link a {
  text-decoration: none;
}
#map-download-link a:hover {
  text-decoration: underline;
}
#configuration p.desc,
#maps p.desc {
  color: #888;
}
#configuration > section,
#maps > section {
  border-bottom: 1px solid #e5e5e5;
  margin-top: 40px;
}
#configuration h3,
#maps h3 {
  color: #3c485c;
  font-size: 26px;
  font-weight: normal;
}
#configuration h3 span,
#maps h3 span {
  font-size: 16px;
  margin-left: 5px;
}
#configuration ul,
#maps ul {
  margin: 10px;
}
#configuration li,
#maps li {
  display: inline-block;
  vertical-align: top;
  margin: 20px 28px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  transition: box-shadow 0.4s;
}
#configuration li input,
#maps li input {
  display: none;
}
#configuration li img,
#maps li img {
  margin-top: 5px;
  width: 90px;
  height: 90px;
}
#configuration li h5,
#maps li h5 {
  background-color: #293c55;
  color: white;
  font-weight: normal;
  margin: 0;
  padding: 0;
  height: 25px;
  line-height: 25px;
  position: relative;
}
#configuration li h5 span,
#maps li h5 span {
  font-size: 12px;
  margin-left: 3px;
}
#configuration li:hover,
#maps li:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#configuration li.checked,
#maps li.checked {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#configuration li.checked h5::before,
#maps li.checked h5::before {
  content: '';
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  background-image: url(../img/icon/checked.png);
  display: inline-block;
  position: absolute;
  right: 0;
  top: -102px;
}
#maps #china li img,
#maps #world li img {
  width: 300px;
  height: auto;
}
#maps li {
  cursor: default;
  width: auto;
  margin: 20px 15px;
}
#maps li:hover {
  box-shadow: none;
}
#maps li a {
  font-size: 14px;
}
#maps li h5 {
  background: none;
  color: #000;
  font-size: 16px;
}
#maps li img {
  height: 150px;
  width: auto;
}
#map-example {
  margin-bottom: 100px;
  line-height: 2em;
  font-size: 14px;
}
#other p.desc {
  font-size: 14px;
  padding-left: 10px;
}
#other a {
  color: black;
}
#other .other-option {
  margin-left: 15px;
}
#action {
  margin-top: 0px;
  margin-bottom: 200px;
  text-align: center;
}
#email {
  border: 1px solid #ccc;
  border-radius: 20px;
  line-height: 2em;
  width: 200px;
  padding: 10px 20px;
  outline: none;
}
#build {
  color: #FFF;
  font-size: 18px;
  background-color: #293c55;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px 30px;
  margin-top: 20px;
  font-family: 'Noto Thin';
}
#build:hover {
  background-color: #596A86;
}
.clear {
  clear: both;
}
#statement {
  margin: 10px 50px;
  font-size: 14px;
  line-height: 2em;
}
footer {
  margin-top: 50px;
}
